version: '{build}'

cache:
 - node_modules

stack: node 14
environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      DIST: 'dist'
    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      DIST: 'dist:linux'

install:
 - yarn install --network-timeout 100000

build_script:
  - pwsh: "yarn run $env:DIST --publish never"

on_success:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL

test_script:
  - ps: |
      if(ls dist\Better-Crewlink*)
      {
        exit 0
      } else {
        exit 1
      }
artifacts:
  - path: dist/win-unpacked
    name: Unpacked
    type: auto
  - path: 'dist/Better-CrewLink Setup*.exe'
    name: installer
    type: auto
  - path: 'dist/Better-CrewLink-*.AppImage'
    name: Linux AppImage
    type: auto
