name: Publish to WinGet
on:
  workflow_dispatch:
  release:
    types: [released]
jobs:
  publish:
    runs-on: windows-latest # action can only be run on windows
    steps:
      - uses: vedantmgoyal2009/winget-releaser@v2
        with:
          identifier: BetterCrewLink.BetterCrewLink
          token: ${{ secrets.WINGET_TOKEN }}
